*
**/*

!emacs/
!emacs/.config/
!emacs/.config/emacs/
!emacs/.config/emacs/init.el
!emacs/.config/emacs/straight/
!emacs/.config/emacs/straight/versions/
!emacs/.config/emacs/straight/versions/default.el

!mpv/
!mpv/.config/
!mpv/.config/mpv/
!mpv/.config/mpv/mpv.conf

!nvim/
!nvim/.config/
!nvim/.config/nvim/
!nvim/.config/nvim/init.vim

!zsh/
!zsh/.zshrc
!zsh/.config/
!zsh/.config/zshrc.d/
!zsh/.config/zshrc.d/*
