*
**/*

!emacs/
!emacs/.emacs.d/
!emacs/.emacs.d/init.el

!mpv/
!mpv/.config/
!mpv/.config/mpv/
!mpv/.config/mpv/mpv.conf

!nvim/
!nvim/.config/
!nvim/.config/nvim/
!nvim/.config/nvim/init.vim

!zsh/
!zsh/.zshrc
!zsh/.config/
!zsh/.config/zshrc.d/
!zsh/.config/zshrc.d/*
